body {
    text-align: center;
}

.headings{
  text-align: center;
  position: absolute;
  left: 200px;
  top:55px;
  background-color: #000000;
  color: red;
}

li{
  text-decoration: none;
  list-style-type: none;
}

#button{
  text-decoration: none;
  background: #ccccee;
  padding: 10px;
  color: #ffffff;
  margin-top:15px;
  display: none;
}

table{
  border: 1px solid #ccc;
  font-size: 17px;
  border-collapse: collapse;
  width: 200px;
  border-radius: 12px;
}
 td{
  border: 1px solid #ccc;
  font-size: 17px;
  text-align: left;
  padding: 10px;
  font-weight: bolder;
}

.scoreBoard{
  font-weight: bolder;
}


#demo{
  min-width: 30px; 
  border-radius: 50%;
  text-align: center;
  padding: 10px;
  border: 10px solid red;
  text-decoration: blink;
  color: red;
  position: absolute;
  padding: 30px;
  font-size: 20px;
  font-weight: bolder;
  left: 230px;
  top:320px;
  display:  none;
}
.gameTile{
  margin: 0px;
  font-family: sans-serif;
}
